



/* ==== 1) General ==== */

@font-face {  

	src: url('../fonts/Futura Oblique.eot'); /* IE9 Compat Modes */

	src: url('../fonts/Futura Oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */

	url('../fonts/Futura Oblique.woff2') format('woff2'), /* Super Modern Browsers */

	url('../fonts/Futura Oblique.woff') format('woff'), /* Pretty Modern Browsers */      

	url('../fonts/Futura Oblique.otf')  format('truetype'); /* Safari, Android, iOS */

	/*url('Gotham.svg#svgFontName') format('svg');*/ /* Legacy iOS */      

	font-family: 'Futura Oblique';

}

@font-face {  

	src: url('../fonts/Futura Koyu.eot'); /* IE9 Compat Modes */

	src: url('../fonts/Futura Koyu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */

	url('../fonts/Futura Koyu.woff2') format('woff2'), /* Super Modern Browsers */

	url('../fonts/Futura Koyu.woff') format('woff'), /* Pretty Modern Browsers */      

	url('../fonts/Futura Koyu.otf')  format('truetype'); /* Safari, Android, iOS */

	/*url('Gotham.svg#svgFontName') format('svg');*/ /* Legacy iOS */      

	font-family: 'Futura Koyu';

}

@font-face {  

	src: url('../fonts/HelveticaLTStd-Bold.eot'); /* IE9 Compat Modes */

	src: url('../fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */

	url('../fonts/HelveticaLTStd-Bold.woff2') format('woff2'), /* Super Modern Browsers */

	url('../fonts/HelveticaLTStd-Bold.woff') format('woff'), /* Pretty Modern Browsers */      

	url('../fonts/HelveticaLTStd-Bold.otf')  format('truetype'); /* Safari, Android, iOS */

	/*url('Gotham.svg#svgFontName') format('svg');*/ /* Legacy iOS */      

	font-family: 'HelveticaLTStd-Bold';

}



@-webkit-viewport   { width: device-width; }

@-moz-viewport      { width: device-width; }

@-ms-viewport       { width: device-width; }

@-o-viewport        { width: device-width; }

@viewport           { width: device-width; }



::selection {

	background: #00a0dc;

	color:#fff;

}



::-moz-selection {

	background: #00a0dc;

	color:#fff;

}







@import url("steadysets/steadysets.css");

@import url("linecons/linecons.css");

@import url("et-line/et-line.css");



html {

	position: relative;

	min-height: 100%;

}



body {

	font-weight: 300;

	background: #fff;

	color: #111;

	overflow-x: hidden;

	margin: 0;

	text-rendering: geometricPrecision;

}



section {

	position: relative;

}



.img-responsive {

	display: inline-block;

}



/* ==== 2) Typography ==== */



.light {

	color: #fff;

}



.smoke, h5 small {

	color: #aaa;

}



p {

	margin: 0 0 15px 0;

	font-family: "Futura", Arial, sans-serif;

	font-size: 16px;

	color: #666;

}



p:last-child {

	margin: 0;

}



a {

	color: #111;

	transition: 0.2s;

	-moz-transition: 0.2s;

	-webkit-transition: 0.2s;

	-o-transition: 0.2s;

}



a:hover {

	color: #999;

	text-decoration: none;

	transition: 0.2s;

	-moz-transition: 0.2s;

	-webkit-transition: 0.2s;

	-o-transition: 0.2s;

}



a:focus, a:active {

	color: #999;

	outline: none;

	text-decoration: none;

}



h1, h2, h3, h4 {

	margin: 0 0 8px 0;

}



h1 {

	font-size: 48px;

	letter-spacing: -1px;

}



h2 {

	font-size: 38px;

}



h3 {

	font-size: 18px;

}



h4 {

	font-size: 13px;

	letter-spacing: 2px;

}



h5 {

	font-family: 'Droid Serif', serif;

	font-size: 19px;

	font-style: italic;

	line-height: 1.48;

	margin: 0 0 15px 0;

}

.text-center {

	text-align: left;

}

.text-right h3{

	text-align: right;

	font-family: "Futura", Arial,sans-serif !important;

	font-weight: 300;

}

.text-left h3 {

	text-align:left;

	margin-left: -20px;

}

.mask-layer {

	display: block !important;

	width: 100% !important;

	min-height: 750px !important;

	background-color: rgba(71,73,94,0.75) !important;

}



@media (max-width: 768px) {

	h1 {

		font-size: 42px;

		letter-spacing: 0;

	}

	h2 {

		font-size: 32px;

	}

	.text-center {

		text-align: center;

		width: 100%;

		margin: 0 auto;

	}

	#estimation p {

		font-size: 15px !important;

		line-height: 15px;

	}

	#estimation h2, #services h2 {

		font-family: "HelveticaLTStd-Bold", Arial, sans-serif;

		color: #666;

		font-size: 24px !important;

	}	

	#estimation span img {

		display: none;

	}

	#hints h3 {

		font-size: 18px !important;

	}

	footer div img {

		float: none !important;

	}

	.thumbnail img {

		height: 125px;

	}

	.social {

		position: relative;

		z-index: 2000;

	}

	.btn-orange {

		display: block;

		margin-bottom: 30px !important;

	}

	.btn:hover {

		display: block;

		margin-bottom: 30px !important;

	}

	.navbar-default .navbar-nav>.active>a {

		color: #333 !important;

	}

	.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

		color: #ddd !important;

	}

}



@media (max-width: 568px) {

	h1 {

		font-size: 36px;

	}

	h2 {

		font-size: 26px;

	}

}



.thumbnail {

	margin-top: 60px;

	border: 0px !important;

}

.thumbnail img {

	height: 190px;

	width: auto;

	margin-bottom: 30px;

}



/* ==== 3) Backgrounds and buttons ==== */

#estimation {

	display: block;

	background-image: url(../img/estimatebg.jpg);

	background-position: center center;

	background-size: cover;

	min-height: 750px;

	color: #666;

}

#estimation p {

	font-size: 20px;

	line-height: 19px;

	font-weight: 300;

}

#estimation h2, #services h2 {

	font-family: "HelveticaLTStd-Bold", Arial, sans-serif;

	color: #666;

	font-size: 32px;

}

#estimation .row {

	margin-top: 12%;

}

#estimation .row span {

	position: absolute;

	top: -24px;

	left: -20px;

}

#estimation .shape {

	margin-top: 85px;

}

#estimation form label {

	font-family: "Futura", Arial, sans-serif;

	font-size: 16px;

}

.white-mask {

	display: block !important;    

	width: 100% !important;

	min-height: 750px !important;

	background-color: rgba(255,255,255,0.92) !important;

}

input[type="text"], textarea {

	border: 1px solid #ddd;

	border-radius: 2px;

	width: 75%;

	margin-bottom: 15px;

	padding-left: 15px;

	font-size: 16px;

	transition: all 0.3s;

}

input[type="text"] {

	height: 50px;

}

input[type="text"]:hover, textarea:hover {

	box-shadow: 1px 1px 0px rgba(71,73,93,0.2);

	transition: all 0.3s;

}

textarea {

	height: 90px;

	padding-top: 10px;

}

.smoke-bg {

	background: #113f8c;

	color:#fff;

}

.btn, .btn:hover, .btn:focus, .btn:active, .btn:active:focus {

	background: #00a0dc;

	font-family: 'Montserrat', sans-serif;

	color: #fff;

	font-weight: 400;

	line-height: 1;

	padding: 20px 100px;

	margin: 15px 0 0 0;

	box-shadow: 0px 0px 1px rgba(71,73,93,0.5);

	-webkit-transition: all .2s;

	-moz-transition: all .2s;

	-ms-transition: all .2s;

	-o-transition: all .2s;

	transition: all .2s;

}



.btn:hover {

	background: #008cc8;

}



/* ==== 4) Dividers ==== */



.divide-xs {

	padding-top: 7px;

	padding-bottom: 8px;

}



.divide-sm {

	padding-top: 30px;

	padding-bottom: 30px;

}



.divide-md {

	padding-top: 45px;

	padding-bottom: 45px;

}



.divide-lg {

	padding-top: 60px;

	padding-bottom: 60px;

}



.divide-xl {

	padding-top: 90px;

	padding-bottom: 90px;

}



@media (max-width: 768px) {

	.divide-md {

		padding-top: 30px;

		padding-bottom: 30px;

	}

}



hr {

	margin-top: 15px;

	margin-bottom: 15px;

}



hr.no-margin {

	margin-top: 0;

	margin-bottom: 0;

}



hr.no-margin-top {

	margin-top: 0;

}



hr.no-margin-bottom {

	margin-bottom: 0;

}



hr.title-divider {

	border-width: 2px 0 0 0;

	max-width: 180px;

}



/* ==== 5) Intro & Sections Headers ==== */





.parallax {

	background-attachment: fixed;

}



@media screen and (max-device-width: 1024px) {

	.parallax {

		background-attachment: scroll;

	}

	

}



.float-content {

	position: absolute;

	width: 100%;

	top: 50%;

	-webkit-transform: translateY(-50%);

	-moz-transform: translateY(-50%);

	transform: translateY(-50%);

}



.section-overlay {

	background: rgba(0, 0, 0, .5);

	position: absolute;

	width: 100%;

	height: 100%;

}

/*2) HINTS*/

.freeqoute {

	display: block;

	position: absolute;

	right: -138px;

	top: 27%;

	z-index: 3;

	-ms-transform: rotate(-90deg); /* IE 9 */

	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */

	transform: rotate(-90deg);

	font-size: 25px;

	font-weight: bold;

	background-color: #ddd;padding: 22px 70px;

	border-radius: 2px;

	box-shadow: -2px 2px 2px rgba(50,50,50,0.5);

	font-family: "Futura Koyu", Arial, sans-serif;

	color: rgba(80, 80, 80, 0.5);

	text-shadow: 1px 4px 6px #ddd, 0 0 0 #666, 1px 4px 6px #ddd;

}



#hints {

	background-color: #113f8c;

	height: 200px;

	color: #eee;

	padding-top: 70px;

	text-align: center !important;

}

#hints h3 {

	margin-right: 15px;

	font-size: 24px;

	width: 100%;

	color: #fff;

	font-family: "Futura", Arial, sans-serif !important;

}

#hints h3 strong {

	text-align: left;

	margin-left: 15px;

	text-decoration: underline;

	font-family: "Futura Koyu", Arial, sans-serif !important;

}

#hints h3:hover strong, #hints h3:hover a  {

	color: #ddd !important;

}

#hints h3 a {

	color: #fff !important;

	font-weight: bold;

}





/* ==== 6) Services & Features ==== */

#services {

	padding: 100px 10px;

}

#services p { 

	width: 75%;

	margin: 0 auto;

	font-size: 15px;

}

#services h3 {

	font-size: 24px;

	margin-bottom: 20px;

	font-family: "Futura", Arial, sans-serif;

	color: #666;

	font-weight: 300;

}

#services h2, #services h3, #services p {

	text-align: center;

}

.myway-icon-services {

	display: inline-block;

	position: relative;

	width: 56px;

	height: 56px;

	fill: #00a0dc;

}



.myway-icon-features {

	display: inline-block;

	position: relative;

	width: 36px;

	height: 36px;

	fill: #00a0dc;

}



.myway-icon-services:after, .myway-icon-features:after {

	content: '';

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

}



.service i {

	color: #bbbdc0;

	font-size: 48px;

}



@media (max-width: 767px) {

	.service i {

		font-size: 36px;

	}

}



.media {

	margin: 0;

}



.media-left {

	padding-right: 20px;

}



/* ==== 7) Works ==== */



.squared {

	padding-top: 100%;

	overflow: hidden;

	position: relative;

}



.squared, .squared-content {

	padding-left: 0;

	padding-right: 0;

}



.squared-content {

	position: absolute;

	top: 50%;

	left: 0;

	right: 0;

	-webkit-transform: translateY(-50%);

	-moz-transform: translateY(-50%);

	transform: translateY(-50%);

}



@media (max-width: 991px) and (min-width: 768px) {

	.squared {

		padding-top: 133%;

	}

}



@media (max-width: 767px) {

	.squared {

		padding-top: 0;

	}

	.squared .squared-content {

		position: relative;

		top: 0;

		left: 0;

		right: 0;

		-webkit-transform: translateY(0);

		-moz-transform: translateY(0);

		transform: translateY(0);

	}

}







@media (min-width: 768px) {

	.form-group {

		display: inline-block;

	}

}

/*

.honeypot {

	display: none !important;

}

*/

form .btn, form .btn:hover, form .btn:focus, form .btn:active:focus {

	margin-top: 30px;

}

.btn-orange {

	border-radius: 2px !important;

	background-color: #e64028 !important;

	font-size: 20px;

	box-shadow: 3px 3px 1px rgba(71,73,93,0.3);

	text-transform: uppercase;

}

.btn-lined-white {

	position: relative;

	width: 260px;

	color: #fff !important;

	font-size: 18px !important;	

	font-family: "futura", Arial, sans-serif;

	border: 1px solid #fff;

	transition: all 0.2s;

}

.btn-lined-white a {

	color: #fff;

}

.btn-lined-white::after {

	content: '';

	position: absolute;

	bottom: -2px;

	left: 0px;

	display: block;

	width: 0;

	height: 4px;

	background: #fff;

	transition: all .3s;

}

.btn-lined-white:hover::after {

	width: 100%;

	//transition: width .3s;

}

.flowuplabels .fl_wrap {

	position: relative;

	margin-top: 30px;

	height: 45px;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

.flowuplabels .fl_label {

	position: absolute;

	background: #fff;

	color: #111;

	font-weight: 300;

	line-height: 1.2;

	padding: 8px;

	left: 30px;

	top: 5px;

	z-index: 3;

	-webkit-transition: all .1s linear;

	-moz-transition: all .1s linear;

	-o-transition: all .1s linear;

	transition: all .1s linear;

}

.flowuplabels .fl_input {

	background: none;

	color: #111;

	padding: 0 0 0 20px;

	height: 43px;

	width: 100%;

	border: 1px solid #eee;

	border-radius: 25px;

	z-index: 2;

	-webkit-box-shadow: none;

	-moz-box-shadow: none;

	-ms-box-shadow: none;

	-o-box-shadow: none;

	box-shadow: none;

	-webkit-appearance: none;

	-moz-appearance: none;

}



.flowuplabels .fl_wrap.focused .fl_label,

.flowuplabels .fl_wrap.populated .fl_label {

	font-size: 12px;

	color: #aaa;

	top: -15px;

}



.flowuplabels .fl_wrap.focused .fl_label {

	color: #00a0dc;

}



.message {

	display: none;

}



#form-alert {

	padding: 5px 15px 5px 15px;

	margin: 15px 0 0 0;

}



.alert li {

	list-style: none;

	display: inline-block;

}



.alert-danger {

	background: #ffaa00;

	border-width: 0;

	border-radius: 0;

	color: #fff;

}



.alert-success {

	background: #7dc800;

	border-width: 0;

	border-radius: 0;

	color: #fff;

}



/* ==== 11) Footer ==== */

footer {

	margin-top: -40px;

}

footer a {

	display: block;

	padding: 6px;

}

footer h3 {

	color: #fff !important;

	margin: 0;

	font-size: 32px;

	margin-bottom: 12px;

	margin-top: -2px;

	font-family: "HelveticaLTStd-Bold",Arial,sans-serif;

}

footer p {

	color: #eee !important;

}

footer p small {

	color: #eee;

	font-family: "Futura",Arial, sans-serif;

	font-size: 13px;

	letter-spacing: 1px;

}

footer div img {

	float: left;

}

.goTop {

	bottom: 12%;

	/* display: none; */

	height: 55px;

	position: absolute;

	right: 10%;

	text-indent: -9999px;

	width: 60px;

	z-index: 30000;

}

.social ul {

	margin: 0px;

	padding: 0px;

}

.social ul li {

	list-style-type: none;

	display: inline-block;

	border-radius: 50%;

	background-color: rgba(255,255,255,0.35);

	width: 44px;

	height: 44px;

	vertical-align: middle;

	-webkit-transition: all 1.5s;

	-moz-transition: all 1.5s;

	-ms-transition: all 1.5s;

	-o-transition: all 1.5s;

	transition: all 1.5s;

}

.social ul li:hover {

	background-color: rgba(255,255,255,0.15);		

	-webkit-transition: all 1.5s;

	-moz-transition: all 1.5s;

	-ms-transition: all 1.5s;

	-o-transition: all 1.5s;

	transition: all 1.5s;

}

.social ul li:hover a {

	-ms-transform: rotateY(360deg); /* IE 9 */

	-webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */

	transform: rotateY(360deg);

	-webkit-transition: all 1.5s;

	-moz-transition: all 1.5s;

	-ms-transition: all 1.5s;

	-o-transition: all 1.5s;

	transition: all 1.5s;

}

.social ul li img {

	vertical-align: middle;

	text-align: center;

	margin: 0 auto;

	display: block;

}

.footer_nav {

	margin-top: 15px;

}

.myway-icon-info {

	display: inline-block;

	position: relative;

	width: 36px;

	height: 36px;

	fill: #00a0dc;

}





.anchor{

	/*display: block;*/

	height: 325px; /*same height as header*/

	margin-top: -325px; /*same height as header*/

	visibility: hidden;

}

/* ==== 12) Navigation ==== */

div#navbar-collapse {

	text-align: center;

}

.navbar{	

	position: relative;

	z-index: 10000;

	padding: 5px 0px;

	background-color: transparent !important;

	border: 0px solid transparent !important;

	text-transform: uppercase !important;

	font-weight: bold;

	font-family: "Gotham-Medium", sans-serif;

	font-size: 18px !important;

	line-height: 100px;

}

.navbar-default .navbar-nav>li>a {

	color: #fff !important;

}

.navbar-fixed-top {

	position: fixed;

}

.navbar-brand {

	line-height: 0;

}

.navbar-header {

	margin-right: 20px !important;

}

.nav a, .navbar-nav .active {

	border-bottom: 3px solid rgba(255,255,255,0);

	padding-bottom: 0px;	

	transition: all 0.5s;

}



.nav a:hover, .nav a:focus, .nav a:active, .nav .active a{

	border-bottom: 3px solid #fff;

	padding-bottom: 8px;

	transition: all 0.5s;

	color:#fff !important;

}



.navbar-collapse {

	background-color: transparent;

}

.navbar li a {

	font-size: 20px !important;

	text-align: center;

	padding: auto 20px !important;

	margin-right: 35px;

	font-family: "Gotham-Medium", sans-serif;

	font-size: 18px !important;

	font-weight: 500 !important;

}

.navbar-right {

	float: none !important;

	display: inline-block;

	line-height: 100px;

	/*vertical-align: middle;*/

	padding-top: 10px;

}



@media (min-width: 320px) and (max-width: 500px) {

	.tabs-left {

		margin-top: 20px !important;

	} 

	.tabs-left>li>a {

		font-size: 10px !important;

	}

	.ptabs .tab-pane img {

		text-align: right;

		right: 10px;

		left: 156px;

		top: -229px;

		display: block;

		width: 152px;

		height: auto;

	}

	.ptabs .col-sm-12, .ptabs .col-xs-3 {

		padding: 0px 3px !important;

	}

	.middle_box p {

		font-size: 11px !important;

	}

	.info_box {

		padding: 20px !important;

		height: 400px !important; 

	}

	.info_box p {

		font-size: 10px !important;

	}

	.divide-sm {

		padding: 10px !important;

	}

}

@media (min-width: 360px) and (max-width: 420px) {

	.ptabs .tab-pane img {

		text-align: right;

		right: 10px;

		left: 176px;

		top: -229px;

		display: block;

		width: 152px;

		height: auto;

	}

}

@media (min-width: 421px) and (max-width: 500px) {

	.ptabs .tab-pane img {

		text-align: right;

		right: 10px;

		left: 226px;

		top: -266px;

		display: block;

		width: 182px;

		height: auto;

	}

}

@media (min-width: 501px) and (max-width: 767px) {

	.ptabs .tab-pane img {

		text-align: right;

		right: 10px;

		left: 230px;

		top: -306px;

		display: block;

		width: 210px;

		height: auto;

	}

	.tabs-left {   

		margin-left: 30px;

	}

}

@media (min-width: 1024px) and (max-width: 1200px) {

	#hints {

		padding-top: 30px;

		padding-bottom: 30px;

	}

	#hints h3 {

		text-align: center !important;

	}

	.text-right, .text-left {

		text-align: center !important;

		clear:both;

	}

	#estimation .shape {

		width: 70%;

		margin-bottom: 40px;

		margin-top: 40px;

	}

}

@media (min-width: 768px) and (max-width: 1024px) {

	.navbar li {

		color: #fff !important;

	}

	.ptabs .tab-pane img {

		width:295px;

		height: auto;

	}

	.navbar li a {

		padding: 10px 10px !important;

		color: #fff !important;

		margin-right: 0px;

	}



}

@media (max-width: 767px) {	

	.tabs-left {

		margin-top: 20px !important;

	} 

	.tabs-left>li>a {

		font-size: 10px !important;

	}	

	.info_box {

		padding: 20px !important;

		height: 400px !important; 

	}

	#hero {

		min-height: 550px !important;

		height: 550px;

	}

	#hero_about {

		display: block;

		width: 100%;

		height: auto !important;

		min-height: 900px !important;

	}

	.middle_box p {	

		width: 98% !important;

	}

	#hero_about div.middle_box, #hero_history div.middle_box  {

		width: 100% !important;

		padding-bottom: 30px;

		top: 25%;		

		margin-left: 0px !important;

		margin-right: 0px !important;

		display: inline-block;

		text-align: center;

	}

	#hero_about div.middle_box h2 {

		font-size: 22px;

		padding: 5px;

	}

	.navbar li a {

		padding: 10px 15px !important;

		color: #321f1c !important;

	}

	.navbar-collapse {

		background-color: #fff;

	}

	.navbar-toggle { 

		margin-right: -15px;

	}

	.nav a:hover {	

		transition: all 0.5s;

		color:#ddd !important;

	}

	.navbar-right {

		display: block;

		padding-top: 0px;

	}

	.middle_box {

		width: 320px !important;

		min-height: 200px;

		margin-top: 55%;

	}

	.divide-lg {

		padding-top: 30px;

		padding-bottom: 30px;

	}

	#hero_contact {

		min-height: 500px !important;

	}

	.map {

		width: 320px !important;

		margin: 0 auto;

		margin-top: 60px;

		/*text-align: center;*/

	}

	.map iframe {

		width: 320px !important;

		height: 350px;

		margin: 0 auto;

		margin-top: 60px;

	}	

	.info_box {

		position: absolute;

		display: block;

		left: 0px;

	}

	.pbox {

		margin-top: -50px;

	}

}



.navbar a, .navbar .active a:hover, .navbar .active a:focus {

	background-color: transparent !important;

}



.navbar-brand {

	position: relative;

	padding: 10px 15px !important;

	height: auto;

	line-height: 0;

}



.navbar-brand img:nth-child(2) {

	position: absolute;

	top: 10px;

}



@media (max-width: 1024px) {

	.navbar-brand img:nth-child(1) {

		opacity: 1 !important;

	}

	.navbar-brand img:nth-child(2) {

		opacity: 1 !important;

	}

	.navbar-default {

		background-color: rgba(255, 255, 255, 0) !important;

	}

	.nav a {

		color: #111 !important;

	}

	.navbar li a { 

		margin-right: 0px;

	}

	.tabs-left {

		margin-top: 10px !important;

	} 

	.tabs-left>li>a {

		font-size: 10px;

	}

	#estimation .shape {

		margin-top: 30px;

		margin-bottom: 30px;

	}

	#hero {

		background-position: 90%;

	}

	

	.freeqoute {

		-ms-transform: rotate(0deg); /* IE 9 */

		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */

		transform: rotate(0deg);

		right: 0px;

		left: 0px;

		top: -25%;

		z-index: 3;

		font-size: 18px;

		padding: 16px 40px;

	}

	#hints {

		position: relative;

		padding-top: 40px;

		padding-bottom: 30px;

	}

	#hints h3 {

		text-align: center !important;

	}

	.text-right, .text-left {

		text-align: center !important;

		clear:both;

	}

	input[type="text"], textarea {

		width: 90%;

	}

	footer .contact {

		margin: 30px 0px;

	}

}



.navbar-toggle {

	margin-top: 13px;

	margin-bottom: 13px;

	border: 0px solid transparent;

}



.navbar-default .navbar-toggle .icon-bar {

	background-color: #fff;

	width: 42px;

	height: 4px;

	border-radius: 0;

	margin-top: 7px;

}



.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

	background-color: transparent;

}



/*HERO SECTION*/

.main {

	margin: 0px;

	padding: 0px;

	position: relative;

}

#hero, #hero_about, #hero_contact, #hero_history, #hero_persons {

	display: block;	

	background-repeat: no-repeat;

	background-size: cover;

	min-height: 750px !important;

}

#hero {	

	background-image: url("../img/hero_home.jpg");

}

#hero_contact {	

	background-image: url("../img/hero_contact.jpg");

	min-height: 1070px !important;

}

.middle_box h4 {

	font-family: "HelveticaLTStd-Light", Arial, sans-serif;

	font-size: 20px;

	letter-spacing: 4px;

}

#hero_contact div.middle_box {

	top: 28%;

}

#hero_contact div.middle_box h3 {

	text-transform: uppercase;

	font-family: "Gotham-Bold",sans-serif;

	font-size: 24px;

}

#hero_contact div.middle_box p {

	/*text-transform: uppercase;*/

	font-family: "Gotham-Medium",sans-serif;

}

.middle_box {

	position: absolute;

	display: block;

	left: 0px;

	right: 0px;

	margin: 0 auto;

	top: 25%;	

	color: #fff;

	text-align: center;

}

.middle_box h2 {

	margin-top: 14px;

	font-size: 38px;

	font-family: "Futura", sans-serif !important;

	letter-spacing: 2px;

}

.middle_box h3 {

	font-family: "Futura",sans-serif;

	font-size: 28px;

	font-weight: 400;

}

.middle_box p {

	font-family: "Futura",sans-serif;

	font-size: 12px;

	font-weight: 300;

	padding: 20px 54px !important;	

	margin: 0 auto;

	margin-top: 80px;

}

.middle_box img {

	margin-bottom: 80px;

}

.map {		

	position: absolute;

	display: block;

	margin: 0 auto;

	left: 0px;

	width: 898px;

	right: 0px;

	margin: 0 auto;

	top: 45%;

}



/*SINGLE PEOPLE*/



.ptabs {

	position: relative;

	display: block;

	width: 1140px;

	margin: 0 auto;

	/*margin-top: 20%;*/

}

.ptabs h3 {

	text-transform: uppercase;

}

.pbox {

	margin-top: 30px;

}

.tab-pane img {

	position: absolute;

	z-index: 20000;

	left: -30px;

	-webkit-box-shadow: 4px 4px 5px 0px rgba(20,20,20,0.73);

	-moz-box-shadow: 4px 4px 5px 0px rgba(20,20,20,0.73);

	box-shadow: 4px 4px 5px 0px rgba(20,20,20,0.73);	

}

.nav-tabs>li {   

	margin-bottom: 0px;

}

.tabs-left {

	border-bottom: 0px;

	padding-top: 2px;

}

.tabs-left {

	margin-top: 120px;

}

.tabs-left>li{

	float: none;

	background-color: rgba(50,31,28,0.4);  

	text-transform: uppercase;  

}

.tabs-left>li {

	margin-right: -1px;

}

.tabs-left>li.active>a,

.tabs-left>li.active>a:hover,

.tabs-left>li.active>a:focus {

	/*border-bottom-color: #ddd;*/

	border:0px;

	border-right-color: transparent;

	background-color: rgba(50,31,28,0.9) !important;

	color: #ffd16f !important; 

	padding-bottom: 16px;

}



.tabs-left>li>a {

	margin-right: 0;

	display:block;

	color: #fff !important;

	font-family: "Gotham-Bold",sans-serif;

	font-size: 12px;

	padding: 16px 24px;

}

.ptabs .nav-tabs>li>a {

	border:0px;

	border-radius: 0px;

}

.nav-tabs>li>a:hover {

	border-color: transparent;

}

.ptabs .nav>li>a:focus, .ptabs .nav>li>a:hover {

	text-decoration: none;

	background-color: rgba(50,31,28,0.9);

}

.ptabs .nav a:hover {

	/*border-bottom: 0px;*/

	padding-bottom: 16px !important;

	transition: all 0.5s;

	color: #ffd16f; 

}

.info_box {

	background-color: rgba(50,31,28,0.8); 

	padding: 48px 44px 44px 80px;

	height: 460px;

	margin-top: 18px;

	color:#fff;

	margin-left: -5px;

}

.info_box p {

	font-size: 12px;

	font-family: "Kadwa",sans-serif;

}

.info_box p strong {

	text-transform: uppercase;

	display: block;

	font-size: 13px;

}

.info_box h3 {

	font-size: 24px;

	font-family: "Gotham-Bold", sans-serif !important;

}

.info_box h3, .info_box h3 span {

	color: #ffd16f;    

}

.info_box h3 span {

	font-size: 14px;

	text-transform: uppercase;

	font-family: "Gotham-Medium", sans-serif !important;

}

/* ==== 13) Carousels ==== */



@media not all, (-webkit-transform-3d) {

	.carousel-inner>.item {

		-webkit-backface-visibility: initial;

		backface-visibility: initial;

	}

}



#carousel-intro .carousel-inner {

	overflow: inherit;

}



.carousel-control.left, .carousel-control.right {

	background-image: none;

	background: rgba(255, 255, 255, .3);

	opacity: 1;

	width: 10%;

	height: 10%;

	top: 45%;

	padding: 0;

	border: none;

	text-shadow: none;

	color: #111;

	z-index: 3;

}



.carousel-control.btn:active {

	-webkit-box-shadow: none;

	-moz-box-shadow: none;

	box-shadow: none;

}



.carousel {

	opacity: 1;

}



.carousel .item {

	position: absolute;

	display: block !important;

	width: 100%;

	top: 0;

	left: 0 !important;

	opacity: 0;

	z-index: -1;

	-moz-transition: opacity ease-in-out .6s;

	-o-transition: opacity ease-in-out .6s;

	-webkit-transition: opacity ease-in-out .6s;

	transition: opacity ease-in-out .6s;

}



.carousel .item:first-child {

	position: relative;

	top: auto;

}



.carousel .item.active {

	opacity: 1;

	z-index: 0;

	-moz-transition: opacity ease-in-out .4s;

	-o-transition: opacity ease-in-out .4s;

	-webkit-transition: opacity ease-in-out .4s;

	transition: opacity ease-in-out .4s;

}







/* ==== 14) Preloader ==== */



.preloader {

	position: fixed;

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

	background-color: #fff;

	z-index: 9999;

}



.spinner {

	position: absolute;

	top: 50%;

	left: 50%;

	right: 0;

	width: 70px;

	-webkit-transform: translate(-50%, -50%);

	-moz-transform: translate(-50%, -50%);

	transform: translate(-50%, -50%);

}



.spinner > div {

	width: 18px;

	height: 18px;

	background-color: #aaa;

	border-radius: 100%;

	display: inline-block;

	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;

	animation: bouncedelay 1.4s infinite ease-in-out;

	-webkit-animation-fill-mode: both;

	animation-fill-mode: both;

}



.spinner .bounce1 {

	-webkit-animation-delay: -0.32s;

	animation-delay: -0.32s;

}



.spinner .bounce2 {

	-webkit-animation-delay: -0.16s;

	animation-delay: -0.16s;

}



@-webkit-keyframes bouncedelay {

	0%, 80%, 100% { -webkit-transform: scale(0.0) }

	40% { -webkit-transform: scale(1.0) }

}



@keyframes bouncedelay {

	0%, 80%, 100% { 

		transform: scale(0.0);

		-webkit-transform: scale(0.0);

		} 40% { 

			transform: scale(1.0);

			-webkit-transform: scale(1.0);

		}

	}



	/*15 CHECKBOXES */



	/* Base for label styling */

	[type="checkbox"]:not(:checked),

	[type="checkbox"]:checked {

		position: absolute;

		left: -9999px;

	}

	[type="checkbox"]:not(:checked) + label,

	[type="checkbox"]:checked + label {

		position: relative;

		padding-left: 30px;

		cursor: pointer;

	}



	/* checkbox aspect */

	[type="checkbox"]:not(:checked) + label:before,

	[type="checkbox"]:checked + label:before {

		content: '';

		position: absolute;

		left:0; top: 0px;

		width: 20px; height: 20px;

		border: 1px solid #aaa;

		background: #f8f8f8;

		border-radius: 3px;

		box-shadow: inset 0 1px 2px rgba(0,0,0,.2)

	}

	/* checked mark aspect */

	[type="checkbox"]:not(:checked) + label:after,

	[type="checkbox"]:checked + label:after {

		content: '✔';

		position: absolute;

		top: 3px; left: 3px;

		font-size: 18px;

		line-height: 0.8;

		color: #113f8c;

		transition: all .2s;

	}

	/* checked mark aspect changes */

	[type="checkbox"]:not(:checked) + label:after {

		opacity: 0;

		transform: scale(0);

	}

	[type="checkbox"]:checked + label:after {

		opacity: 1;

		transform: scale(1);

	}

	/* disabled checkbox */

	[type="checkbox"]:disabled:not(:checked) + label:before,

	[type="checkbox"]:disabled:checked + label:before {

		box-shadow: none;

		border-color: #bbb;

		background-color: #ddd;

	}

	[type="checkbox"]:disabled:checked + label:after {

		color: #999;

	}

	[type="checkbox"]:disabled + label {

		color: #aaa;

	}

	/* accessibility */

	[type="checkbox"]:checked:focus + label:before,

	[type="checkbox"]:not(:checked):focus + label:before {

		border: 1px dotted blue;

	}

	label {

		margin-bottom: 16px !important;

		margin-left: 8px !important;

	}

	/* hover style just for information */

	label:hover:before {

		border: 1px solid #4778d9!important;

	}